.card-bg {
    background-color: var(--falcon-card-bg);
}

[contenteditable] {
    outline: 0px solid transparent;
}

.sprint-active {
    border-left: solid 4px var(--falcon-primary);
    background: var( --falcon-100);
}

.priority-active {
    border-left: solid 4px var(--falcon-primary);
    background: var( --falcon-100);
    padding-left: 10px !important;
}

.table-noborder {
    border-bottom: solid 0px var(--falcon-card-bg) !important;
}

.new-issue-textbox {
    width: 100%;
    padding: 5px;
    border: 0px;
    background: transparent;
}

    .new-issue-textbox:focus {
        outline: 0;
    }

.focus-bg-white {
    background-color: var(--falcon-200);
}

    .focus-bg-white:focus {
        background-color: var(--falcon-input-bg);
    }

.shadow-0 {
    -webkit-box-shadow: 0px 0px 0px transparent !important;
    box-shadow: 0px 0px 0px transparent !important;
}

.kanban-column-container {
    display: inline-block !important;
    white-space: normal;
    vertical-align: top;
}

.kanban-column {
    width: 100% !important;
    margin-right: 0px !important;
}

.kanban-items-container {
    max-height: calc(100vh - 14.5rem) !important;
    min-height: calc(100vh - 14.5rem) !important;
}

.echart-sprint-point {
    min-height: 13.125rem;
}

.echart-member-point {
    min-height: 13.125rem;
}
.draggable-mirror {
    display: table !important;
}

.scroll-to-top {
	position: fixed;
	top: 300px; 
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: #000;
	color: white;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	text-decoration: none;
	font-size: 20px;
	opacity: 0; 
	transition: all 0.5s ease; 
	z-index: 1000;
  }

  .scroll-to-top.visible {
	top: 400px; 
	opacity: 1; 
  }

  @media (max-width: 768px) {
	.scroll-to-top {
	  top: 600px;
	}
	.scroll-to-top.visible {
		top: 700px; /* Trượt lên vị trí cố định */
		opacity: 1; /* Hiện rõ */
	  }

  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    position: relative;
    margin: auto;
    top: 5%;
    width: 90%;
    max-width: 500px;
}

.modal-content {
    background: white;
    padding: 15px;
    border-radius: 8px;
}
.modal-body img
{
    height: 100px;
}