@using IcSoft.Infrastructure.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ShopUser> SignInManager
@inject UserManager<ShopUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        if (user != null)
    {
        <li class="nav-item d-flex align-items-center">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-decoration-none">
                @($"{user.FirstName} {user.LastName}!")
            </a>
        </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="color: w">Login</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }


