@page
@model IcSoftShopAdmin.Pages.ManageProduct.ProductModel
<h2>Thêm sản phẩm mới</h2>

<form id="productForm" method="post" enctype="multipart/form-data">
    <div class="row">

        <div class="form-group col-lg-6 col-12 col-md-6 col-sm-6 mb-6">
            <label asp-for="Product.ProductName">Tên sản phẩm</label>
            <input asp-for="Product.ProductName" class="form-control" required />

        </div>

        <div class="form-group col-lg-3 col-12 col-md-3 col-sm-3 mb-3">
            <label asp-for="Product.ProductPrice">Giá sản phẩm</label>
            <input asp-for="Product.ProductPrice" class="form-control" required type="number" min="0" />

        </div>

        <div class="form-group col-lg-3 col-12 col-md-3 col-sm-3 mb-3">
            <label asp-for="Product.ProductQuantity">Số lượng</label>
            <input asp-for="Product.ProductQuantity" class="form-control" required type="number" min="1" />

        </div>

        <div class="form-group col-lg-9 col-12 col-md-9 col-sm-9 mb-3">
            <label asp-for="Product.ProductDescription">Mô tả</label>
            <textarea asp-for="Product.ProductDescription" class="form-control" required></textarea>
        </div>

        <div class="form-group col-lg-3 col-12 col-md-3 mb-3">
            <label asp-for="Product.ProductSale">Giảm giá</label>
            <input asp-for="Product.ProductSale" class="form-control" type="number" min="0" />

        </div>

        <div class="form-group col-12 col-md-6 mb-3">
            <label>Màu sắc</label>
            <div class="color-options d-flex flex-wrap">
                @foreach (var color in Model.AvailableColors)
                {
                    <div class="color-circle m-1">
                        <input type="checkbox" id="color_@color.ColorId" name="SelectedColorIds" value="@color.ColorId"  />
                        <label for="color_@color.ColorId" style="background-color:@color.ColorCode;"></label>
                    </div>
                }
            </div>

        </div>

        <div class="form-group col-12 col-md-6 mb-3">
            <label>Kích thước</label>
            <div class="size-options d-flex flex-wrap">
                @foreach (var size in Model.AvailableSizes)
                {
                    <input type="checkbox" id="size_@size.SizeId" name="SelectedSizeIds" value="@size.SizeId" class="size-checkbox"  />
                    <label for="size_@size.SizeId" class="size-square m-1">@size.SizeName</label>
                }
            </div>

        </div>

        <div class="form-group col-12 col-md-6 mb-3">
            <label asp-for="Product.CategoryID">Danh Mục</label>
            <select asp-for="Product.CategoryID" asp-items="Model.Categories" class="form-control" required>
                <option value="">-- Chọn danh mục --</option>
            </select>

        </div>

        <div class="form-group col-12 col-md-6 mb-3">
            <label asp-for="Product.CollectionID">Bộ Sưu Tập</label>
            <select asp-for="Product.CollectionID" asp-items="Model.Collections" class="form-control" required>
                <option value="">-- Chọn bộ sưu tập --</option>
            </select>

        </div>

        <label for="ProductImages">Hình ảnh sản phẩm</label>
        <div id="imageUploadContainer" class="d-flex flex-wrap">
            <div class="form-group col-3 mb-3">
                <div class="image-upload-container">
                    <input asp-for="ProductImages" type="file" accept="image/*" class="d-none" id="ProductImages_0" name="ProductImages" onchange="previewImage(this);"  />
                    <div class="image-preview" onclick="document.getElementById('ProductImages_0').click();">
                        <span class="add-image-icon">+</span>
                        <span class="remove-image" onclick="removeImage(this)">X</span>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" id="addImageButton" class="btn btn-secondary col-lg-2">Thêm ảnh</button>

        <div class="form-group col-12">
            <input type="checkbox" id="enableProductImageSize" />
            <label>
                Tạo ảnh size của sản phẩm
            </label>
          
        </div>

        <div id="productImageSizeForm" class="form-group col-3 mb-3" style="display: none;">
            <div class="image-upload-container">
                <input asp-for="ProductImageSize" type="file" accept="image/*" class="d-none" id="ProductImageSize" name="ProductImageSize" onchange="previewProductImageSize(this);" />
                <div class="image-preview" onclick="document.getElementById('ProductImageSize').click();">
                    <span class="add-image-icon">+</span>
                    <span class="remove-image" onclick="removeProductImageSize()">X</span>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <button type="submit" id="submitBtn" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
    <script>

        document.getElementById('enableProductImageSize').addEventListener('change', function () {
            const productImageSizeForm = document.getElementById('productImageSizeForm');
            if (this.checked) {
                productImageSizeForm.style.display = 'block'; 
            } else {
                productImageSizeForm.style.display = 'none'; 
                resetProductImageSize(); 
            }
        });


        function previewProductImageSize(input) {
            const imagePreview = input.nextElementSibling;
            const file = input.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.width = '100%';
                    img.style.height = 'auto';
                    img.style.borderRadius = '8px';

                    imagePreview.innerHTML = '';
                    imagePreview.appendChild(img);

                    const removeSpan = document.createElement('span');
                    removeSpan.className = 'remove-image';
                    removeSpan.textContent = 'X';
                    removeSpan.onclick = function () {
                        removeProductImageSize();
                    };
                    imagePreview.appendChild(removeSpan);
                };
                reader.readAsDataURL(file);
            }
        }


        function removeProductImageSize() {
            const imagePreview = document.getElementById('ProductImageSize').nextElementSibling;
            imagePreview.innerHTML = `
                <span class="add-image-icon">+</span>
                <span class="remove-image" onclick="removeProductImageSize()">X</span>`;
            document.getElementById('ProductImageSize').value = ''; 
        }


        function resetProductImageSize() {
            document.getElementById('ProductImageSize').value = '';
            removeProductImageSize();
        }




           document.getElementById('submitBtn').addEventListener('click', function(event) {

            const selectedColor = document.querySelectorAll('input[name="SelectedColorIds"]:checked');
            const selectedSize = document.querySelectorAll('input[name="SelectedSizeIds"]:checked');


            const productImages = document.querySelectorAll('input[name="ProductImages"]');
            let isImageSelected = false;
            productImages.forEach(input => {
                if (input.files.length > 0) {
                    isImageSelected = true;
                }
            });

       
            if (selectedColor.length === 0 || selectedSize.length === 0 || !isImageSelected) {
                alert("Vui lòng chọn màu sắc, kích thước và ít nhất một hình ảnh.");
                event.preventDefault();  
            }
        });



      

        let imageIndex = 1; // Đếm số lượng khung ảnh

        function previewImage(input) {
            const imagePreview = input.nextElementSibling;
            const file = input.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.width = '100%';
                    img.style.height = 'auto';
                    img.style.borderRadius = '8px';

                    imagePreview.innerHTML = '';
                    imagePreview.appendChild(img);

                    const removeSpan = document.createElement('span');
                    removeSpan.className = 'remove-image';
                    removeSpan.textContent = 'X';
                    removeSpan.onclick = function () {
                        removeImage(this);
                    };
                    imagePreview.appendChild(removeSpan);
                };
                reader.readAsDataURL(file);
            }
        }

        function removeImage(element) {
            const imageContainer = element.closest('.form-group');
            imageContainer.remove();
        }

        document.getElementById('addImageButton').addEventListener('click', function () {
            const newDiv = document.createElement('div');
            newDiv.className = 'form-group col-3 mb-3';

            const newImageUploadContainer = document.createElement('div');
            newImageUploadContainer.className = 'image-upload-container';

            const newInput = document.createElement('input');
            newInput.type = 'file';
            newInput.accept = 'image/*';
            newInput.className = 'd-none';
            newInput.name = 'ProductImages';
            const newInputId = 'ProductImages_' + imageIndex;
            newInput.id = newInputId;
            newInput.onchange = function () {
                previewImage(this);
            };

            const newImagePreview = document.createElement('div');
            newImagePreview.className = 'image-preview';
            newImagePreview.onclick = function () {
                document.getElementById(newInputId).click();
            };

            const newSpan = document.createElement('span');
            newSpan.className = 'add-image-icon';
            newSpan.innerHTML = '+';

            const newRemoveSpan = document.createElement('span');
            newRemoveSpan.className = 'remove-image';
            newRemoveSpan.textContent = 'X';
            newRemoveSpan.onclick = function () {
                removeImage(this);
            };

            newImagePreview.appendChild(newSpan);
            newImagePreview.appendChild(newRemoveSpan);

            newImageUploadContainer.appendChild(newInput);
            newImageUploadContainer.appendChild(newImagePreview);
            newDiv.appendChild(newImageUploadContainer);

            document.getElementById('imageUploadContainer').appendChild(newDiv);

            imageIndex++;
        });
    </script>
}
