@page
@model IcSoftShopAdmin.Pages.ManageCollection.CreateModel

<h2>Thêm bộ sưu tập mới</h2>

<form method="post">
    <div class="form-group col-6">
        <label for="Collection">Tên Bộ sưu tập </label>
        <input asp-for="Collections.CollectionName" class="form-control" />
        <span asp-validation-for="Collections.CollectionName" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Tạo mới</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

