@page "{id:int}"
@model IcSoftShopAdmin.Pages.ManageCollection.UpdateModel

<h2>Cập nhật danh mục</h2>

<form method="post">
    <input type="hidden" asp-for="Collections.CollectionId" />
    <div class="form-group">
        <label asp-for="Collections.CollectionName"></label>
        <input asp-for="Collections.CollectionName" class="form-control" />
        <span asp-validation-for="Collections.CollectionName" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/ManageCollection/Index" class="btn btn-secondary">Cancel</a>
</form>

