@page
@model IcSoftShopAdmin.Pages.ManageColor.UpdateModel


<h2>Cập nhật Màu Sắc</h2>

<form method="post">
    <input type="hidden" asp-for="colors.ColorId" />
    <div class="form-group">
        <label asp-for="colors.ColorName"></label>
        <input asp-for="colors.ColorName" class="form-control" />
        <span asp-validation-for="colors.ColorName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="colors.ColorCode"></label>
        <input asp-for="colors.ColorCode" class="form-control" />
        <span asp-validation-for="colors.ColorCode" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="/ManageCollection/Index" class="btn btn-secondary">Cancel</a>
</form>

