@page
@model IcSoftShopAdmin.Pages.ManageSize.CreateModel
<h2>Thêm Size mới</h2>

<form method="post">
    <div class="form-group col-6">
        <label for="Color">Tên kích cỡ </label>
        <input asp-for="Sizes.SizeName" class="form-control" />
        <span asp-validation-for="Sizes.SizeName" class=" text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Tạo mới</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

