@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Begin -->
<section class="hero" style="margin-bottom:60px">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="img/hero/slider_1.webp">
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/slider_2.webp">
        </div>
        <div class="hero__items set-bg" data-setbg="img/hero/slider_3.webp">
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 60px">
                <h2 class="text-center" style="font-family: 'Noto Serif Display',sans-serif; font-size:30px">
                    NEWEST ARRIVALS
                        </h2>
            </div>
        </div>
        <div class="row product__filter">
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/product1.webp">
                    <div class="overlay">
                        <div class="product__info">
                               <a href="#"> <h3 class="product__name">Vintage Ink Bleed Boxy Shirt </h3> </a>
                                <p class="product__price">560.000₫</p>
                        </div>
                    </div>
         
                </div>
            </div>
        </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="img/product/product2.webp">
                        <div class="overlay">
                            <div class="product__info">
                                <a href="#"> <h3 class="product__name">Leninn Mesh Tanktop </h3> </a>
                                <p class="product__price">390.000₫</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!-- Product Section End -->
